* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding-inline: 50px;
  position: fixed;
  background-image: url(bilder/goldenheaderwhite.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
  box-shadow: 0 0 50px;
}
section:first-child {
  height: 100vh;
  background-image: url(bilder/hexagonwhite.jpg);
  background-position: start;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 0 100px black;
  text-align: center;
}

section:nth-child(2) {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 100px;
}
.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown {
  display: flex;
  font-size: 200px;
}
#minutes,
#seconds,
.separator {
  color: rgb(121, 121, 121);
}
.countdown-header {
  display: flex;
  font-size: 50px;
}
.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%;
  margin-top: 80px;
}
.questionContainer > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 30px;
  width: 75%;
  background-image: url(bilder/goldenheaderwhitelight.jpg);
  background-size: cover;
}
h2 {
  color: rgb(198, 161, 69);
}
.choices {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}
.none {
  display: none !important;
}
.nonenormal {
  display: none;
}
.block {
  display: block;
}
header img {
  width: 60px;
}
div img {
  width: 900px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 13px;
  filter: invert(100%);
}
div button {
  padding: 10px;
  border-radius: 100%;
  border: none;
  background-color: gray;
}
div div p {
  display: flex;
  align-items: center;
  gap: 20px;
}
.start {
  width: fit-content;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 30px;
  background-color: transparent;
  margin-top: 30px;
}
.start:hover {
  box-shadow: 0 0 50px black;
}
#faq {
  border-radius: 10px;
}
input {
  width: 500px;
  text-align: center;
  padding: 10px;
}
#faq {
  background-color: transparent;
  transition: 0.2s;
  font-size: 30px;
}
#faq:hover {
  box-shadow: 0 0 40px;
}
#antallriktig {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#antallriktig div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 50px;
}
#antallriktig div h1 {
  font-size: 120px;
}
.resultat {
  color: rgb(198, 161, 69);
}
