* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
header div {
  border: black solid 2px;
}
section:first-child {
  height: 700px;
  border: 2px solid black;
  background-image: url(https://wallpapercat.com/w/full/b/a/9/1209998-3840x2160-desktop-4k-glow-in-the-dark-background-photo.jpg);
  background-position: center;
  background-size: cover;
}
section:last-child {
  height: 1000px;
  border: 2px solid black;
}
.lightM {
}
.darkM {
}
