* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-solid {
  cursor: pointer;
}
.transDarkMode {
  display: flex;
  align-items: center;
  gap: 50px;
}
header div img {
  width: 30px;
  border-radius: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding-inline: 50px;
  position: fixed;
  background-image: url(bilder/goldenheaderwhite.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
  box-shadow: 0 0 50px;
}
section:first-child {
  height: 100vh;
  background-image: url(bilder/hexagonwhite.jpg);
  background-position: start;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 0 100px black;
  text-align: center;
}

section:nth-child(2) {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 100px;
  overflow: hidden;
}
.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown {
  display: flex;
  font-size: 200px;
}
#minutes,
#seconds,
.separator {
  color: rgb(121, 121, 121);
}
.countdown-header {
  display: flex;
  font-size: 50px;
}
.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%;
  margin-top: 80px;
}
.questionContainer > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 30px;
  width: 75%;
  background-image: url(bilder/goldenheaderwhitelight.jpg);
  background-size: cover;
}
h2 {
  color: rgb(198, 161, 69);
}
.choices {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}
.none {
  display: none !important;
}
.nonenormal {
  display: none;
}
.block {
  display: block;
}
header img {
  width: 60px;
}
div img {
  width: 900px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 13px;
  filter: invert(100%);
}
button {
  cursor: pointer;
}
div button {
  padding: 10px;
  border-radius: 100%;
  border: none;
  background-color: gray;
}
div div p {
  display: flex;
  align-items: center;
  gap: 20px;
}
.start {
  width: fit-content;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 30px;
  background-color: transparent;
  margin-top: 30px;
}
.start:hover {
  box-shadow: 0 0 50px black;
}
#faq {
  border-radius: 10px;
}
input {
  width: 500px;
  text-align: center;
  padding: 10px;
}
#faq {
  background-color: transparent;
  transition: 0.2s;
  font-size: 30px;
}
#faq:hover {
  box-shadow: 0 0 40px;
}
#antallriktig {
  background-color: white;
  padding-block: 80px;
}
#antallriktig > h1 {
  text-align: center;
  margin-bottom: 20px;
}
#antallriktig > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}
#antallriktig div h1 {
  font-size: 120px;
}
.resultat {
  color: rgb(198, 161, 69);
}
.bilde6kort,
.bilde7kort {
  display: none;
}
@media (width < 950px) {
  .bilde6,
  .bilde7 {
    display: none;
  }
  .bilde6kort,
  .bilde7kort {
    display: block;
    width: 90%;
  }
  h3 {
    width: 90%;
  }
  input {
    width: 80%;
  }
  #antallriktig div {
    flex-direction: column;
    gap: 30px;
  }
  .feilene {
    width: 100%;
  }
}
@media (width < 700px) {
  h1.no,
  h1.en {
    font-size: 40px;
    width: 80%;
    text-align: center;
  }
  #antallriktig h1 {
    width: 100%;
  }
  header {
    padding-inline: 20px;
  }
  header img {
    width: 50px;
  }
  .transDarkMode {
    gap: 20px;
  }
  #minutes,
  #seconds,
  .separator {
    font-size: 150px;
  }
}
@media (width < 510px) {
  #minutes,
  #seconds,
  .separator {
    font-size: 120px;
  }
  h1.no,
  h1.en {
    font-size: 30px;
  }
}
@media (width < 500px) {
  .choices {
    font-size: 13px;
    gap: 10px;
    width: 80%;
    text-align: left;
  }
  h3 {
    font-size: 15px;
  }
  .separator {
    display: none;
  }
  #minutes,
  #seconds {
    font-size: 170px;
  }
  .countdown {
    flex-direction: column;
    line-height: 170px;
  }
  header button p {
    width: 60%;
  }
  .feilene {
    line-height: 25px;
  }
  #antallriktig div h1 {
    font-size: 100px;
  }
}
