* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding-inline: 50px;
  position: fixed;
  background-image: url(bilder/goldenheaderwhite.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
  box-shadow: 0 0 50px;
}
section:first-child {
  height: 100vh;
  background-image: url(bilder/hexagonwhite.jpg);
  background-position: start;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 0 100px black;
  text-align: center;
  z-index: 2;
}

section:nth-child(2) {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 1;
}
.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown {
  display: flex;
  font-size: 200px;
}
.countdown-header {
  display: flex;
  font-size: 50px;
}
.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%;
  margin-top: 80px;
}
.questionContainer > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  width: 75%;
  background-image: url(bilder/goldenheaderwhite\ light.jpg);
  background-size: cover;
}
h2 {
  color: rgb(198, 161, 69);
}
.choices {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}
.none {
  display: none !important;
}
.nonenormal {
  display: none;
}
.block {
  display: block;
}
header img {
  width: 60px;
}
div img {
  width: 900px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 13px;
  filter: invert(100%);
}
button {
  padding: 10px;
  border-radius: 100%;
  border: none;
}
div div p {
  display: flex;
  align-items: center;
  gap: 20px;
}
.start {
  width: fit-content;
  border-radius: 10px;
  transition: 0.2s;
}
.start:hover {
  box-shadow: 0 0 50px black;
}
#faq {
  border-radius: 10px;
}
