* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding-inline: 50px;
  position: fixed;
  background-color: white;
}
section:first-child {
  height: 800px;
  border: 2px solid black;
  background-image: url(https://wallpapercat.com/w/full/b/a/9/1209998-3840x2160-desktop-4k-glow-in-the-dark-background-photo.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

section:nth-child(2) {
  height: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown {
  display: flex;
  font-size: 200px;
}
.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.questionContainer div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.none {
  display: none !important;
}
.block {
  display: block;
}
.moon {
  color: white;
}
header img {
  width: 60px;
}
div img {
  width: 900px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 13px;
  filter: invert(100%);
}
button {
  padding: 10px;
  border-radius: 100%;
  border: none;
}
div div p {
  display: flex;
  align-items: center;
  gap: 20px;
}
.start {
  width: fit-content;
  border-radius: 10px;
  transition: 0.2s;
}
.start:hover {
  box-shadow: 0 0 30px rgb(246, 143, 255);
}
#faq {
  border-radius: 10px;
}
